.content-container {
  padding: 0 1.6rem;
  max-width: 600px;
  margin: 0 auto;
}
.heading1 {
  font-size: 5.6rem;
  line-height: 6.72rem;
  border-bottom: 4px solid var(--white);
  padding: 0 0 1rem 0;
  margin: 5.4rem 0 1.5rem 0;
}